/*--------------公司信息logo---------------------------*/
.index-logo{
    width: 1920px;
    height: 100px;
    /*   border-bottom: 0.5px solid slategray;
       margin: auto;*/

}
/*所有居中*/
.index-logo div{
    text-align:center;
}
.index-logo> div:nth-child(2){
    font-size: 20px;
}
.index-hr{
    width: 1920px;
    margin-top: 20px;
    border: 0.5px dashed slategray;
}
/*------------公司导航信息-------------------*/
.index-nav{
    width: 1200px;
    height: 50px;
    /*border: 1px solid slategray;*/
    margin: 15px auto;
}

.index-nav ul li{
    /*ul序号样式*/
    list-style: none;
    float: left;
    /* margin: 0px 20px;*/
    padding: 0px 0px 0px 20px;
    text-indent: 3em;
    font-size: 18px;

}

.index-nav ul li:hover{
    color: #e69137;
}


.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
/*------------------上面部分--------------------------*/
/*--------------------中间广告部分---------------------------------*/
.company-mid{
    height: 600px;
    width: 1920px;
    border: 1px solid slategray;
    margin: auto;
    background-image: url("../img/banner.jpg");
    margin-top: -30px;
}
.company-mid-ad>div:first-child div{
    float: left;
    padding: 0px 5px;
    color: white;
}
.company-mid-ad>div:first-child{
    margin-left: 350px;
    margin-top: 550px;
}
.company-mid-ad>div:last-child div{
    float: left;
    padding:0 30px ;
    color: white;

}
.company-mid-ad>div:last-child{
    float: right;
    margin-right: 400px;

}
.company-mid-ad>div:last-child :hover{
    background-color: #e69137;
}



/*------------------轮播-------------------------*/

.companyInfo-mid-img img{
    width: 266px;
    height: 240px;
}
.companyInfo-mid-img{
    width: 500%;
    height: 300px;
    margin-top: 50px;
    /*animation动画属性
        move 5s 要绑定动画的名字 5秒移动
        linear:表示动画从头到尾的速度都是相同的。不延迟
        infinite：normal 循环的
    */
    animation: move 10s linear 0s infinite normal;
}
/*@keyframes 规则是创建动画。
@keyframes 规则内指定一个 CSS
样式和动画将逐步从目前的样式更改为新的样式。
*/
@keyframes move {
    from{
        margin-left: 0;
    }
    to{
        margin-left: -600px;
    }
}

/*-------------尾部分--------------------------*/
.index-end{
    width: 1920px;
    height: 600px;
    /*border: 1px solid slategray;*/
    float: left;
    background-color: #2A2A42;
}
/*电话部分*/
.end-phone{
    width: 400px;
    height: 500px;
    /* border: 1px solid slategray;*/
    float: left;
    margin-top: 50px;
    margin-left: 300px;
}
.end-phone>div:first-child{
    width: 300px;
    border-bottom: 1px solid white;
    color: white;
    line-height: 30px;
}
.end-phone>div:first-child span{
    font-size: 25px;
}
.end-phone>div:nth-child(2){
    width: 300px;
    border-bottom: 1px solid white;
    color: white;
    line-height: 30px;
    margin-top: 50px;
}
.end-phone>div:nth-child(2) span:first-child{
    color: #C5A74F;
    font-size: 35px;
    line-height: 30px;
}
.end-phone>div:nth-child(2) span:nth-child(2){
    font-size: 25px;
}
.end-phone>div:nth-child(3){
    width: 120px;
    height: 40px;
    border: 1px solid #F2A53D;
    margin-top: 30px;
    color: #F2A53D;
    text-align: center;
    display: table-cell;
    vertical-align:middle;

}


/*文本域部分*/
.textarea{
    resize:none;
    width: 600px;
    height: 70px;
    background-color: #2A2A42;
    color: white;
    font-size: 20px;
    border: 1px solid white;

}
.end-text{
    width: 300px;
    height: 300px;
    /* border: 1px solid slategray;*/
    float: left;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}
.end-text span{
    font-size: 20px;
}
.end-text input[type=text] {
    width: 600px;
    background-color: #2A2A42;
    height: 50px;
    font-size: 20px;
    color: white;
    /*border: 1px solid white;*/

}
.end-text1 input[type=text]{
    height: 100px;
}
.end-text div{
    margin-top: 20px;
}

/*对提交按钮设置居中*/
.end-text div:last-child {
    width: 100px;
    margin: auto;
    margin-top: 20px;

}
/*对提交按钮设置*/
.end-text input[type=button] {
    width: 610px;
    height: 60px;
    float: left;
    margin-left: -100px;
    background-color: #D3B167;
}

/*右边微信*/
.end-wechart{
    width: 400px;
    height: 500px;
   /* border: 1px solid slategray;*/
    float: right;
    margin-top: 80px;
    margin-right: 60px;
    color: white;
    line-height: 50px;
}
.end-wechart>div:nth-child(even){
    margin-left: 20px;
}

/*----------------分页-----------------------------*/
/*设置div样式的整体布局*/
.page-icon{
    margin:20px 0 0 0;/*设置距离顶部20像素*/
    font-size:0;/*修复行内元素之间空隙间隔*/
    text-align:center;/*设置内容居中显示*/
}

/*设置共有的的样式布局，主要是进行代码优化，提高运行效率*/
.page-icon a,.page-disabled,.page-next{
    border:1px solid #ccc;
    border-radius:3px;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
    margin-right:10px;
}

/*对 a 标签进行样式布局 */
.page-icon a{
    text-decoration:none;/*取消链接的下划线*/
    color:#005aa0;
}

.page-current{
    color:#ff6600;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
}

.page-disabled{
    color:#ccc;
}

.page-next i,.page-disabled i{
    cursor:pointer;/*设置鼠标经过时的显示状态，这里设置的是显示状态为小手状态*/
    display:inline-block;/*设置显示的方式为行内块元素*/
    width:5px;
    height:9px;
    background-image:url(http://img.mukewang.com/547fdbc60001bab900880700.gif);/*获取图标的背景链接*/
}
.page-disabled i{
    background-position:-80px -608px;
    margin-right:3px;
}

.page-next i{
    background-position:-62px -608px;
    margin-left:3px;
}

